@use '@sass/abstract/variables'as *;

.main {
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-light;
}

.color{
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.player {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name {
    font-family: $font-body;
}

.score {
    font-family: $font-body;
}

.arrow {
    height: 3rem;
    aspect-ratio: 1;
    fill: $color-light;
}