$color-dark: #212529;
$color-light: #F5F3F4;
$color-black: #000;
$color-white: #fff;
$color-red: #A4161A;
$color-blue: #0077B6;
$color-yellow: #FFD166;
$color-joker: #343A40;

$font-body:'Poppins',
sans-serif;
$font-headings: 'PT Sans Narrow',
sans-serif;